# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Local Database & Scans
*.db
*.sqlite3
scans/
logs_export/

# Generated Test Files & Exports
*.pdf
*.xlsx

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
